.buttonEffect{
	margin-bottom: 10px;
	margin-top: 10px;
	font-size:20px;
	font-weight:bold;
	padding:12px 12px;
	display:inline-block;
	background-color:#1874CD;
	border:1px solid;
	border-radius:5px;
	-webkit-border-radius:5px;
	color:#FFFFFF;
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
}

.buttonEffect:hover{
	background-color:#FFFFFF;
	color:#1874CD;
	border-color:#1874CD;
}

.nowrap {
  white-space:nowrap;
  color:#808080;
  float: left;
  font-size: 14px;
}

.bigTextBox, .bigDropList {
	margin: 8px 0;
	width: 50%;
    padding: 6px 10px;
	display: inline-block;
	border-radius: 4px;
	font-size: 15px;
}

.smallTextBox, .smallDropList {
	width: 25%;
    padding: 2px 5px;
	display: inline-block;
	border-radius: 2px;
	font-size: 10px;
    margin: 0 15px 0 15px;
}

input[type=text], select {
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline:none;
}

input[type=text]:focus, select:focus {
	box-shadow: 0 0 0 1pt #1874CD;
}

span {
	margin: 0;
	font-size: 12px;
}

hr {
	float: left;
	width: 75%;
    margin-top: 5px; 
	margin-bottom: 3px;
}

.row {
  display: block;
}

.row > div {
  width: 300px;
  height: 20px;
  display: inline-block;
}